on: [push]

name: Test JS bindings

jobs:
  test-js:
    runs-on: ubuntu-latest
    container: ghcr.io/ltla/valkana/builder:latest
    defaults:
      run:
        working-directory: /valkana

    steps:
    - name: Get to the right branch
      run: |
        git fetch --all
        git checkout $GITHUB_SHA

    - name: Update node build 
      run: bash build.sh main

    - name: Update NPM packages
      run: npm i --include=dev

    - name: Run tests
      run: npm run test
